<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat realtime</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      //5
      $(document).ready(() => {
        var socket = io();
        $('#btn-send').click(() => {
          var msg = $('#txt-msg').val();
          socket.emit('CLIENT_SEND_MESSAGE', msg);
          var msg = $('#txt-msg').val('');
        });
      });
    </script>
  </head>
  <body>
    <input type="text" placeholder="Enter your message" id="txt-msg">
    <br><br>
    <button type="button" id="btn-send">Gui</button>
  </body>
</html>
