<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat realtime</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      //5
      $(document).ready(() => {
        var socket = io();
        $('#btn-dang-ky').click(() => {
          var username = $('#txt-username').val();
          $('#txt-username').val('');
          socket.emit('NGUOI_DUNG_DANG_KY', username);
        });

        socket.on('SERVER_XAC_NHAN_DANG_KY', ketqua => {
          if(ketqua){
            alert('Thanh cong')
          }else{
            alert('That bai')
          }
        });

        socket.on('NGUOI_DUNG_MOI', username => {
          $('#list-user').append(`<li id='${username}'>${username}</li>`);
        });

        socket.on('LIST_USER', list => {
          list.forEach(e => $('#list-user').append(`<li id='${e}'>${e}</li>`));
        });

        socket.on('USER_DISCONNECT', username => {
          $(`#${username}`).remove();
        });

        $('#btn-gui-tin').click(()=>{
          var msg = $('#txt-msg').val();
          $('#txt-msg').val('');
          socket.emit('CLIENT_SEND_MESSAGE', msg);
        });

        socket.on('SERVER_SEND_MESSAGE', msg => {
          $('#list-msg').append(`<li>${msg}</li>`)
        })

      });
    </script>
  </head>
  <body>
    <input type="text" placeholder="Enter your username" id="txt-username">
    <br><br>
    <button type="button" id="btn-dang-ky">Gui</button>
    <ul id="list-user"></ul>
    <hr>
    <input type="text" placeholder="Enter your message" id="txt-msg">
    <br><br>
    <button type="button" id="btn-gui-tin">Gui</button>
    <ul id="list-msg"></ul>
  </body>
</html>
